<!-- Modal -->
<div class="modal fade" id="historicModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="historicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Lista de Pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <% @orders_employees.to_a.group_by { |x| x.situation.upcase }.each do |order| %>
              <thead>
                <tr>
                  <th colspan="8" class="text-center" style="border-top: none;">
                    <p><%= Order.human_enum_name(:situation, order.first.downcase) %></p>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">Pedido</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Mesa</th>
                </tr>
              </thead>
              <tbody>
                <% order.second.each do |order| %>
                  <tr>
                    <th scope="row"><%= order.id %></th>
                    <td><%= order.client_name %></td>
                    <td><%= order.table_number %></td>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
