<style>
  body {
    background: #bdc3c7;
  }
</style>
<div class="container logo-order text-center">
  <%= image_tag 'logo.jpeg', class:"img-fluid" %>
</div>
<div class="container order">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
          <%= link_to new_order_path, remote: true, 
                                             data:{toggle:"modal", target:"#newOrderModal"} do %>
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-cart-plus"></i>
              <div class="info-box-content">
                <span class="info-box-text">Novo Pedido</span>
              </div>
            </span>
          </div>
        <% end %>
      </div>
      <div class="clearfix hidden-md-up"></div>
      <div class="col-12 col-sm-12 col-md-4">
      <a href="" data-toggle="modal" data-target="#followModal">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-spinner"></i>
            <div class="info-box-content">
              <span class="info-box-text">Acompanhar Pedidos</span>
            </div>
          </span>
        </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
      <a href="" data-toggle="modal" data-target="#historicModal">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1 text-center"><i class="fas fa-eye"></i>
            <div class="info-box-content">
              <span class="info-box-text">Meus Pedidos</span>
            </div>
          </span>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
  <%= render 'modal_follow'%>
  <%= render 'modal_historic' %>
<footer class="text-center text-green mt-5 p-5">
  Versão 1.0.0
</footer>
<!-- Modal -->
<div class="modal fade" id="newOrderModal" tabindex="-1" aria-labelledby="newOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="newOrderForm">
      </div>
    </div>
  </div>
</div>