<style>
  body {
    background: #bdc3c7;
  }
</style>
<div class="container logo-order text-center">
  <%= image_tag 'logo.jpeg', class:"img-fluid" %>
</div>
<div class="container order">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-cart-plus"></i>
            <div class="info-box-content">
              <span class="info-box-text">Novo Pedido</span>
            </div>
          </span>
        </div>
      </div>
      <div class="clearfix hidden-md-up"></div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-spinner"></i>
            <div class="info-box-content">
              <span class="info-box-text">Acompanhar Pedidos</span>
            </div>
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1 text-center"><i class="fas fa-eye"></i>
            <div class="info-box-content">
              <span class="info-box-text">Meus Pedidos</span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center text-green mt-5 p-5">
  Versão 1.0.0
</footer>
